<div class="container">
    <h1 class="text-center">View Post</h1>
    <a href="#" routerLink="product/index" class="btn btn-warning">Back</a>
    <div>
        <strong>ID:</strong><p>{{prd.id}}</p>
    </div>
    <div>
        <strong>Name:</strong><p>{{prd.name}}</p>
    </div>
    <div>
        <strong>Amount:</strong><p>{{prd.amount}}</p>
    </div>
    <div>
        <strong>Description:</strong><p>{{prd.description}}</p>
    </div>
    <div>
        <strong>IsAvailable:</strong><p>{{prd.isAvailable}}</p>
    </div>
    <div>
        <strong>Quantity:</strong><p>{{prd.quantity}}</p>
    </div>
</div>